:root {
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth;

    /* Primary colors */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    /* Neutral colors */
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

}

.container {
    height: 100vh;
    background: var(--very-dark-blue-main-bg);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100%;
}

.card {
    width: 80%;
    padding: 1rem;
    padding-top: 1.5rem;
    margin: auto;
    border-radius: 15px;
    background: var(--very-dark-blue-card-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card__container {
    width: 95%;
    margin: 0;
}

.card__img {
    width: 100%;
    border-radius: 10px;
}

.card__h2,
.card__p {
    margin: 0;
}

.card__h2 {
    font-weight: 600;
    letter-spacing: 1px;
}

.card__p {
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--soft-blue);
}

.card__container--space-between {
    position: relative;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__container--space-between ::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--very-dark-blue-line);
    z-index: 100;
}

.card__p--eth {
    font-weight: 600;
    color: var(--cyan);
    position: relative;
}

.card__container--row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.card__img--icon {
    width: 15%;
    background: var(--white);
    border-radius: 50%;
}

.card__span {
    color: var(--white);
}


@media only screen and (min-width: 1280px) {
    .card {
        width: 20%;
    }

    .card__h2 {
        font-size: 1.1rem;
    }

    .card__p {
        font-size: 1rem;
    }

    .card__p--eth,
    .card__p--days {
        font-size: 0.8rem;
    }

    .card__p--creator {
        font-size: 0.9rem;
    }

    .card__h2,
    .card__span {
        transition: color .1s ease;
    }

    .card__h2:hover,
    .card__span:hover {
        color: var(--cyan);
    }
}